{% extends "authorization/html/base.html" %}
{% load static %}

<li class="breadcrumb-item active">Tables</li>
<!-- DataTables Example -->
{% block sb_admin_content %}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            产品线列表
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <button>新增</button>
                    <tr>
                        <th>ID</th>
                        <th>产品线名称</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tfoot>
{#                    <tr>#}
{#                        <th>Name</th>#}
{#                        <th>Position</th>#}
{#                        <th>Office</th>#}
{#                        <th>Age</th>#}
{
{#                    </tr>#}
{#                    </tfoot>#}
                    <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
    </p>
{% endblock sb_admin_content %}